
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
node_modules/

# Virtual environment
venv/
.env
env

# Django
db.sqlite3
media/
staticfiles/

# Logs
debug.log
*.log

# Node modules
static/node_modules/

# VS Code
.vscode/

